
<!doctype html>
<html class="no-js">
<head>
  
<!-- Global site tag (gtag.js) - Google Ads:  652588869-->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW- 652588869"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-126904704-2', { 'send_page_view': false });
gtag('config', 'AW-652588869');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N97W7HZ');</script>
<!-- End Google Tag Manager -->
  
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">

	
		<link rel="shortcut icon" href="https://lh3.googleusercontent.com/Qi5XmAvODNTMTG1nWQUJ2jV0eJimo8h6Ps6juGwxh0DmaE4piOHUhNQMw18AkFRJKaBy=s85" type="image/png" />
	

	

	<title>
    
      Product &ndash;SHOE-SHOP
    
  </title>

	
		<meta name="description" content="A HRTG for the SISTERS!!">
	

	



  <meta property="og:type" content="website">
  <meta property="og:title" content="WOMEN">
  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0341/7112/5891/products/NYX2.0SIDECB_1024x.jpg?v=1641266754">
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0341/7112/5891/products/NYX2.0SIDECB_1024x.jpg?v=1641266754">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">




  <meta property="og:description" content="A HRTG for the SISTERS!!">


<meta property="og:url" content="https://www.heiden.id/collections/women">
<meta property="og:site_name" content="Heiden Heritage">



<meta name="twitter:card" content="summary">


  <meta name="twitter:title" content="WOMEN">
  <meta name="twitter:description" content="A HRTG for the SISTERS!!">
  <meta name="twitter:image" content="https://cdn.shopify.com/s/files/1/0341/7112/5891/products/NYX2.0SIDECB_600x600_crop_center.jpg?v=1641266754">

  



	<link rel="canonical" href="https://www.heiden.id/collections/women">

	<link rel="preload" as="style" href="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.scss.css?v=127584045984412349541644995723">
	<link rel="preconnect" href="//fonts.shopifycdn.com">

	<link href="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.scss.css?v=127584045984412349541644995723" rel="stylesheet" type="text/css" media="all" />

	<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.start');</script><meta name="facebook-domain-verification" content="0wti61vwv688b08prvn4b82tuyxhiw">
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/34171125891/digital_wallets/dialog">
<link rel="alternate" type="application/atom+xml" title="Feed" href="/collections/women.atom" />
<link rel="alternate" type="application/json+oembed" href="https://www.heiden.id/collections/women.oembed">
<script id="shopify-features" type="application/json">{"accessToken":"9ffe3a1e0bcf436b1fac16cadb580e4b","betas":["rich-media-storefront-analytics"],"domain":"www.heiden.id","predictiveSearch":true,"shopId":34171125891,"smart_payment_buttons_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/spb.en.js?v=2","dynamic_checkout_cart_url":"https:\/\/cdn.shopify.com\/shopifycloud\/payment-sheet\/assets\/latest\/dynamic-checkout-cart.en.js?v=2","locale":"en"}</script>
<script>var Shopify = Shopify || {};
Shopify.shop = "heiden-heritage.myshopify.com";
Shopify.locale = "en";
Shopify.currency = {"active":"IDR","rate":"1.0"};
Shopify.country = "ID";
Shopify.theme = {"name":"Kingdom","id":89561202819,"theme_store_id":725,"role":"main"};
Shopify.theme.handle = "null";
Shopify.theme.style = {"id":null,"handle":null};
Shopify.cdnHost = "cdn.shopify.com";
Shopify.routes = Shopify.routes || {};
Shopify.routes.root = "/";</script>
<script type="module">!function(o){(o.Shopify=o.Shopify||{}).modules=!0}(window);</script>
<script>!function(o){function n(){var o=[];function n(){o.push(Array.prototype.slice.apply(arguments))}return n.q=o,n}var t=o.Shopify=o.Shopify||{};t.loadFeatures=n(),t.autoloadFeatures=n()}(window);</script>
<script>(function() {
  function asyncLoad() {
    var urls = ["https:\/\/cdn.shopify.com\/s\/files\/1\/0070\/3666\/5911\/files\/superlemon_a0cb29ce-4d6d-41c7-a02f-4e16b427d1c2.js?v=1653632297\u0026shop=heiden-heritage.myshopify.com","https:\/\/cdn.hextom.com\/js\/eventpromotionbar.js?shop=heiden-heritage.myshopify.com"];
    for (var i = 0; i < urls.length; i++) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = urls[i];
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
  };
  if(window.attachEvent) {
    window.attachEvent('onload', asyncLoad);
  } else {
    window.addEventListener('load', asyncLoad, false);
  }
})();</script>
<script id="__st">var __st={"a":34171125891,"offset":25200,"reqid":"31578f04-69fc-4781-a26d-1c73465efb26","pageurl":"www.heiden.id\/collections\/women","u":"cb39e018d03b","p":"collection","rtyp":"collection","rid":271630106791};</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>!function(o){o.addEventListener("DOMContentLoaded",function(){window.Shopify=window.Shopify||{},window.Shopify.recaptchaV3=window.Shopify.recaptchaV3||{siteKey:"6LcCR2cUAAAAANS1Gpq_mDIJ2pQuJphsSQaUEuc9"};var t=['form[action*="/contact"] input[name="form_type"][value="contact"]','form[action*="/comments"] input[name="form_type"][value="new_comment"]','form[action*="/account"] input[name="form_type"][value="customer_login"]','form[action*="/account"] input[name="form_type"][value="recover_customer_password"]','form[action*="/account"] input[name="form_type"][value="create_customer"]','form[action*="/contact"] input[name="form_type"][value="customer"]'].join(",");function n(e){e=e.target;null==e||null!=(e=function e(t,n){if(null==t.parentElement)return null;if("FORM"!=t.parentElement.tagName)return e(t.parentElement,n);for(var o=t.parentElement.action,r=0;r<n.length;r++)if(-1!==o.indexOf(n[r]))return t.parentElement;return null}(e,["/contact","/comments","/account"]))&&null!=e.querySelector(t)&&((e=o.createElement("script")).setAttribute("src","https://cdn.shopify.com/shopifycloud/storefront-recaptcha-v3/v0.6/index.js"),o.body.appendChild(e),o.removeEventListener("focus",n,!0),o.removeEventListener("change",n,!0),o.removeEventListener("click",n,!0))}o.addEventListener("click",n,!0),o.addEventListener("change",n,!0),o.addEventListener("focus",n,!0)})}(document);</script>
<script integrity="sha256-N6F6ZjvOAMPhcD0kfZWNQQgx6eXaxFfh6aqfN0geLrU=" data-source-attribution="shopify.loadfeatures" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/load_feature-37a17a663bce00c3e1703d247d958d410831e9e5dac457e1e9aa9f37481e2eb5.js" crossorigin="anonymous"></script>
<script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4=" data-source-attribution="shopify.dynamic-checkout" defer="defer" src="//cdn.shopify.com/shopifycloud/shopify/assets/storefront/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js" crossorigin="anonymous"></script>


<script>window.performance && window.performance.mark && window.performance.mark('shopify.content_for_header.end');</script>
	
  

	<script src="//code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

  <script type="text/javascript">

  	function lightOrDark(a){if(a.match(/^rgb/)){a=a.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+(?:\.\d+)?))?\)$/);var b=a[1];var c=a[2];a=a[3]}else a=+("0x"+a.slice(1).replace(5>a.length&&/./g,"$&$&")),b=a>>16,c=a>>8&255,a&=255;return 140<Math.sqrt(.299*b*b+.587*c*c+.114*a*a)?"#000":"#fff"};

  	window.reorderSections = function() {
	    $(".with-gutter").removeClass("with-gutter");
	    $(".without-gutter").removeClass("without-gutter");
	    $(".content-section.gutter--on").each(function() {
	      $(this).parent().addClass("with-gutter");
	      if ( $(this).hasClass('parent-has-inner-padding') ) {
	      	$(this).parent().addClass('has-inner-padding');
	      }
	    });
	    $(".content-section.gutter--off").each(function() {
	      $(this).parent().addClass("without-gutter")
	    });
		};
		$(document).ready(function() {
		   window.reorderSections()
		});

  	2===performance.navigation.type&&location.reload(!0);
  </script>

<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 34171125891,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "collection"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'IDR';
var meta = {"products":[{"id":4994035122307,"gid":"gid:\/\/shopify\/Product\/4994035122307","vendor":"Heiden Heritage","type":"","variants":[{"id":33668061659267,"price":21800000,"name":"NYX 2.0 - Chaotic Black - L","public_title":"L","sku":"NX2-BLK-L"},{"id":33668061626499,"price":21800000,"name":"NYX 2.0 - Chaotic Black - M","public_title":"M","sku":"NX2-BLK-M"},{"id":33668061692035,"price":21800000,"name":"NYX 2.0 - Chaotic Black - XL","public_title":"XL","sku":"NX2-BLK-XL"}]},{"id":5007622930563,"gid":"gid:\/\/shopify\/Product\/5007622930563","vendor":"Heiden Heritage","type":"","variants":[{"id":39433073754279,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 37","public_title":"37","sku":"VSL-BW-37"},{"id":39433076441255,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 38","public_title":"38","sku":"VSL-BW-38"},{"id":39433077588135,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 39","public_title":"39","sku":"VSL-BW-39"},{"id":39433089188007,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 40","public_title":"40","sku":"VSL-BW-40"},{"id":39433091023015,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 41","public_title":"41","sku":"VSL-BW-41"},{"id":39433092759719,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 42","public_title":"42","sku":"VSL-BW-42"},{"id":39433094627495,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 43","public_title":"43","sku":"VSL-BW-43"},{"id":39433099935911,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 44","public_title":"44","sku":"VSL-BW-44"},{"id":39433102753959,"price":32700000,"name":"VENDAGE VS Low - Chaotic Black - 45","public_title":"45","sku":"VSL-BW-45"}]},{"id":5007675064451,"gid":"gid:\/\/shopify\/Product\/5007675064451","vendor":"Heiden Heritage","type":"","variants":[{"id":39462784336039,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 37","public_title":"37","sku":"VSH-BW-37"},{"id":39462784499879,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 38","public_title":"38","sku":"VSH-BW-38"},{"id":39462784958631,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 39","public_title":"39","sku":"VSH-BW-39"},{"id":39462785581223,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 40","public_title":"40","sku":"VSH-BW-40"},{"id":39462785646759,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 41","public_title":"41","sku":"VSH-BW-41"},{"id":39462785745063,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 42","public_title":"42","sku":"VSH-BW-42"},{"id":39462786302119,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 43","public_title":"43","sku":"VSH-BW-43"},{"id":39462786367655,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 44","public_title":"44","sku":"VSH-BW-44"},{"id":39462786662567,"price":34700000,"name":"VENDAGE VS Hi - Chaotic Black - 45","public_title":"45","sku":"VSH-BW-45"}]},{"id":5529346637991,"gid":"gid:\/\/shopify\/Product\/5529346637991","vendor":"Heiden Heritage","type":"","variants":[{"id":38112494321831,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 37","public_title":"37","sku":"VSH-FW-37"},{"id":38112502186151,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 38","public_title":"38","sku":"VSH-FW-38"},{"id":38112502513831,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 39","public_title":"39","sku":"VSH-FW-39"},{"id":38165710504103,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 40","public_title":"40","sku":"VSH-FW-40"},{"id":38165710766247,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 41","public_title":"41","sku":"VSH-FW-41"},{"id":38165710995623,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 42","public_title":"42","sku":"VSH-FW-42"},{"id":38165712044199,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 43","public_title":"43","sku":"VSH-FW-43"},{"id":38165712273575,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 44","public_title":"44","sku":"VSH-FW-44"},{"id":38165712502951,"price":34700000,"name":"VENDAGE VS Hi - White Raven - 45","public_title":"45","sku":"VSH-FW-45"}]},{"id":5529311412391,"gid":"gid:\/\/shopify\/Product\/5529311412391","vendor":"Heiden Heritage","type":"","variants":[{"id":38112507625639,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 37","public_title":"37","sku":"VSL-FW-37"},{"id":38112509132967,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 38","public_title":"38","sku":"VSL-FW-38"},{"id":38112510640295,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 39","public_title":"39","sku":"VSL-FW-39"},{"id":38165722923175,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 40","public_title":"40","sku":"VSL-FW-40"},{"id":38165723906215,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 41","public_title":"41","sku":"VSL-FW-41"},{"id":38165724430503,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 42","public_title":"42","sku":"VSL-FW-42"},{"id":38165724823719,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 43","public_title":"43","sku":"VSL-FW-43"},{"id":38165725020327,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 44","public_title":"44","sku":"VSL-FW-44"},{"id":38165725315239,"price":32700000,"name":"VENDAGE VS Lo - White Raven - 45","public_title":"45","sku":"VSL-FW-45"}]},{"id":4994048950403,"gid":"gid:\/\/shopify\/Product\/4994048950403","vendor":"Heiden Heritage","type":"","variants":[{"id":33668126310531,"price":21800000,"name":"NYX 2.0 - War Grey - L","public_title":"L","sku":"NX2-GRY-L"},{"id":33668126277763,"price":21800000,"name":"NYX 2.0 - War Grey - M","public_title":"M","sku":"NX2-GRY-M"},{"id":33668126343299,"price":21800000,"name":"NYX 2.0 - War Grey - XL","public_title":"XL","sku":"NX2-GRY-XL"}]},{"id":4994036170883,"gid":"gid:\/\/shopify\/Product\/4994036170883","vendor":"Heiden Heritage","type":"","variants":[{"id":33668063592579,"price":21800000,"name":"NYX 2.0 - Riot Green - M","public_title":"M","sku":"NX2-RG-M"},{"id":33668063625347,"price":21800000,"name":"NYX 2.0 - Riot Green - L","public_title":"L","sku":"NX2-RG-L"},{"id":33668063690883,"price":21800000,"name":"NYX 2.0 - Riot Green - XL","public_title":"XL","sku":"NX2-RG-XL"}]},{"id":5529238306983,"gid":"gid:\/\/shopify\/Product\/5529238306983","vendor":"Heiden Heritage","type":"","variants":[{"id":38113796522151,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 37","public_title":"37","sku":"VSH-AOFF-37"},{"id":38113798488231,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 38","public_title":"38","sku":"VSH-AOFF-38"},{"id":38113800880295,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 39","public_title":"39","sku":"VSH-AOFF-39"},{"id":38165682946215,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 40","public_title":"40","sku":"VSH-AOFF-40"},{"id":38165683404967,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 41","public_title":"41","sku":"VSH-AOFF-41"},{"id":38165683962023,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 42","public_title":"42","sku":"VSH-AOFF-42"},{"id":38165684453543,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 43","public_title":"43","sku":"VSH-AOFF-43"},{"id":38165684715687,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 44","public_title":"44","sku":"VSH-AOFF-44"},{"id":38165686616231,"price":34700000,"name":"VENDAGE VS Hi - Phantom Forest - 45","public_title":"45","sku":"VSH-AOFF-45"}]},{"id":5529286934695,"gid":"gid:\/\/shopify\/Product\/5529286934695","vendor":"Heiden Heritage","type":"","variants":[{"id":38113824047271,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 37","public_title":"37","sku":"VSL-AOFF-37"},{"id":38113826308263,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 38","public_title":"38","sku":"VSL-AOFF-38"},{"id":38113828864167,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 39","public_title":"39","sku":"VSL-AOFF-39"},{"id":38165693628583,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 40","public_title":"40","sku":"VSL-AOFF-40"},{"id":38165693825191,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 41","public_title":"41","sku":"VSL-AOFF-41"},{"id":38165694054567,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 42","public_title":"42","sku":"VSL-AOFF-42"},{"id":38165694251175,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 43","public_title":"43","sku":"VSL-AOFF-43"},{"id":38165694840999,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 44","public_title":"44","sku":"VSL-AOFF-44"},{"id":38165697200295,"price":32700000,"name":"VENDAGE VS Lo - Phantom Forest - 45","public_title":"45","sku":"VSL-AOFF-45"}]},{"id":6581376516263,"gid":"gid:\/\/shopify\/Product\/6581376516263","vendor":"Heiden Heritage","type":"","variants":[{"id":39440128344231,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 39","public_title":"39","sku":"ZHR-MA-39"},{"id":39440128376999,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 40","public_title":"40","sku":"ZHR-MA-40"},{"id":39440128409767,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 41","public_title":"41","sku":"ZHR-MA-41"},{"id":39440128442535,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 42","public_title":"42","sku":"ZHR-MA-42"},{"id":39440128475303,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 43","public_title":"43","sku":"ZHR-MA-43"},{"id":39440128508071,"price":48300000,"name":"ZEPHYR - MIDNIGHT AGATE - 44","public_title":"44","sku":"ZHR-MA-44"}]},{"id":5893745213607,"gid":"gid:\/\/shopify\/Product\/5893745213607","vendor":"Heiden Heritage","type":"","variants":[{"id":36839423934631,"price":18800000,"name":"NYX 2.0 - Black Moss - L","public_title":"L","sku":"NX2-BMS-L"},{"id":36839423901863,"price":18800000,"name":"NYX 2.0 - Black Moss - M","public_title":"M","sku":"NX2-BMS-M"},{"id":36839423967399,"price":18800000,"name":"NYX 2.0 - Black Moss - XL","public_title":"XL","sku":"NX2-BMS-XL"}]},{"id":6268719235239,"gid":"gid:\/\/shopify\/Product\/6268719235239","vendor":"Heiden Heritage","type":"","variants":[{"id":38131087966375,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 37","public_title":"37","sku":"VSL-BDF-37"},{"id":38131087999143,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 38","public_title":"38","sku":"VSL-BDF-38"},{"id":38131088031911,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 39","public_title":"39","sku":"VSL-BDF-39"},{"id":38165745303719,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 40","public_title":"40","sku":"VSL-BDF-40"},{"id":38165745565863,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 41","public_title":"41","sku":"VSL-BDF-41"},{"id":38165745860775,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 42","public_title":"42","sku":"VSL-BDF-42"},{"id":38165746122919,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 43","public_title":"43","sku":"VSL-BDF-43"},{"id":38165746352295,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 44","public_title":"44","sku":"VSL-BDF-44"},{"id":38165746647207,"price":32700000,"name":"VENDAGE VS LO - BLACK DRIFT - 45","public_title":"45","sku":"VSL-BDF-45"}]},{"id":5833680388263,"gid":"gid:\/\/shopify\/Product\/5833680388263","vendor":"Heiden Heritage","type":"","variants":[{"id":40020013547687,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 37","public_title":"37","sku":"VXL-BW-37"},{"id":40020015186087,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 38","public_title":"38","sku":"VXL-BW-38"},{"id":40020017119399,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 39","public_title":"39","sku":"VXL-BW-39"},{"id":40182181986471,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 40","public_title":"40","sku":"VXL-BW-40"},{"id":40182185328807,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 41","public_title":"41","sku":"VXL-BW-41"},{"id":40182186377383,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 42","public_title":"42","sku":"VXL-BW-42"},{"id":40182187229351,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 43","public_title":"43","sku":"VXL-BW-43"},{"id":40182187851943,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 44","public_title":"44","sku":"VXL-BW-44"},{"id":40182188343463,"price":37800000,"name":"VENDAGE VSX LO- ZENITH BW - 45","public_title":"45","sku":"VXL-BW-45"}]},{"id":6581369569447,"gid":"gid:\/\/shopify\/Product\/6581369569447","vendor":"Heiden Heritage","type":"","variants":[{"id":39440114974887,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 39","public_title":"39","sku":"ZHR-BW-39"},{"id":39440118775975,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 40","public_title":"40","sku":"ZHR-BW-40"},{"id":39440119234727,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 41","public_title":"41","sku":"ZHR-BW-41"},{"id":39440119693479,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 42","public_title":"42","sku":"ZHR-BW-42"},{"id":39440120840359,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 43","public_title":"43","sku":"ZHR-BW-43"},{"id":39440121725095,"price":48800000,"name":"ZEPHYR - BLACK WHITE - 44","public_title":"44","sku":"ZHR-BW-44"}]},{"id":5832720908455,"gid":"gid:\/\/shopify\/Product\/5832720908455","vendor":"Heiden Heritage","type":"","variants":[{"id":40020002865319,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 37","public_title":"37","sku":"VXH-BW-37"},{"id":40020003520679,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 38","public_title":"38","sku":"VXH-BW-38"},{"id":40020003881127,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 39","public_title":"39","sku":"VXH-BW-39"},{"id":40182203154599,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 40","public_title":"40","sku":"VXH-BW-40"},{"id":40182204203175,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 41","public_title":"41","sku":"VXH-BW-41"},{"id":40182207414439,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 42","public_title":"42","sku":"VXH-BW-42"},{"id":40182208102567,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 43","public_title":"43","sku":"VXH-BW-43"},{"id":40182209314983,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 44","public_title":"44","sku":"VXH-BW-44"},{"id":40182211182759,"price":39800000,"name":"VENDAGE VSX HI - ZENITH BW - 45","public_title":"45","sku":"VXH-BW-45"}]},{"id":6226045304999,"gid":"gid:\/\/shopify\/Product\/6226045304999","vendor":"Heiden Heritage","type":"","variants":[{"id":37964362514599,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 37","public_title":"37","sku":"VDL-NAV-37"},{"id":38166811345063,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 38","public_title":"38","sku":"VDL-NAV-38"},{"id":38166811869351,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 39","public_title":"39","sku":"VDL-NAV-39"},{"id":38166812065959,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 40","public_title":"40","sku":"VDL-NAV-40"},{"id":38166812262567,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 41","public_title":"41","sku":"VDL-NAV-41"},{"id":38166812983463,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 42","public_title":"42","sku":"VDL-NAV-42"},{"id":38166813114535,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 43","public_title":"43","sku":"VDL-NAV-43"},{"id":38166814425255,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 44","public_title":"44","sku":"VDL-NAV-44"},{"id":38166814720167,"price":23700000,"name":"VENDAGE LITE - Navy \/ White \/ Black - 45","public_title":"45","sku":"VDL-NAV-45"}]},{"id":6581382873255,"gid":"gid:\/\/shopify\/Product\/6581382873255","vendor":"Heiden Heritage","type":"","variants":[{"id":39440146956455,"price":48800000,"name":"ZEPHYR - RUBY - 39","public_title":"39","sku":"ZHR-RBY-39"},{"id":39440146989223,"price":48800000,"name":"ZEPHYR - RUBY - 40","public_title":"40","sku":"ZHR-RBY-40"},{"id":39440147021991,"price":48800000,"name":"ZEPHYR - RUBY - 41","public_title":"41","sku":"ZHR-RBY-41"},{"id":39440147054759,"price":48800000,"name":"ZEPHYR - RUBY - 42","public_title":"42","sku":"ZHR-RBY-42"},{"id":39440147087527,"price":48800000,"name":"ZEPHYR - RUBY - 43","public_title":"43","sku":"ZHR-RBY-43"},{"id":39440147153063,"price":48800000,"name":"ZEPHYR - RUBY - 44","public_title":"44","sku":"ZHR-RBY-44"}]},{"id":6268716384423,"gid":"gid:\/\/shopify\/Product\/6268716384423","vendor":"Heiden Heritage","type":"","variants":[{"id":38131071484071,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 37","public_title":"37","sku":"VSH-BDF-37"},{"id":38131071516839,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 38","public_title":"38","sku":"VSH-BDF-38"},{"id":38131071549607,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 39","public_title":"39","sku":"VSH-BDF-39"},{"id":38165733605543,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 40","public_title":"40","sku":"VSH-BDF-40"},{"id":38165734817959,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 41","public_title":"41","sku":"VSH-BDF-41"},{"id":38165735080103,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 42","public_title":"42","sku":"VSH-BDF-42"},{"id":38165737734311,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 43","public_title":"43","sku":"VSH-BDF-43"},{"id":38165738356903,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 44","public_title":"44","sku":"VSH-BDF-44"},{"id":38165738913959,"price":34700000,"name":"VENDAGE VS HI - BLACK DRIFT - 45","public_title":"45","sku":"VSH-BDF-45"}]},{"id":6139439939751,"gid":"gid:\/\/shopify\/Product\/6139439939751","vendor":"Heiden Heritage","type":"","variants":[{"id":40019926646951,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 37","public_title":"37","sku":"VXL-VT-37"},{"id":40019927269543,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 38","public_title":"38","sku":"VXL-VT-38"},{"id":40019928023207,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 39","public_title":"39","sku":"VXL-VT-39"},{"id":40182271148199,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 40","public_title":"40","sku":"VXL-VT-40"},{"id":40182272655527,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 41","public_title":"41","sku":"VXL-VT-41"},{"id":40182273605799,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 42","public_title":"42","sku":"VXL-VT-42"},{"id":40182275375271,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 43","public_title":"43","sku":"VXL-VT-43"},{"id":40182276391079,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 44","public_title":"44","sku":"VXL-VT-44"},{"id":40182277570727,"price":37800000,"name":"VENDAGE VSX LO - VERMILION TRIMS - 45","public_title":"45","sku":"VXL-VT-45"}]},{"id":5893730369703,"gid":"gid:\/\/shopify\/Product\/5893730369703","vendor":"Heiden Heritage","type":"","variants":[{"id":36839372619943,"price":21800000,"name":"NYX 2.0 - Crimson Black - L","public_title":"L","sku":"NX2-CRB-L"},{"id":36839372587175,"price":21800000,"name":"NYX 2.0 - Crimson Black - M","public_title":"M","sku":"NX2-CRB-M"},{"id":36839372652711,"price":21800000,"name":"NYX 2.0 - Crimson Black - XL","public_title":"XL","sku":"NX2-CRB-XL"}]},{"id":6692542480551,"gid":"gid:\/\/shopify\/Product\/6692542480551","vendor":"Heiden Heritage","type":"","variants":[{"id":39947871912103,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 39","public_title":"39","sku":"ZHR-QS-39"},{"id":39947871944871,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 40","public_title":"40","sku":"ZHR-QS-40"},{"id":39947871977639,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 41","public_title":"41","sku":"ZHR-QS-41"},{"id":39947872010407,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 42","public_title":"42","sku":"ZHR-QS-42"},{"id":39947872043175,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 43","public_title":"43","sku":"ZHR-QS-43"},{"id":39947872075943,"price":48800000,"name":"ZEPHYR - QUICKSILVER - 44","public_title":"44","sku":"ZHR-QS-44"}]},{"id":5833554886823,"gid":"gid:\/\/shopify\/Product\/5833554886823","vendor":"Heiden Heritage","type":"","variants":[{"id":40019984253095,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 37","public_title":"37","sku":"VXL-AW-37"},{"id":40019985170599,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 38","public_title":"38","sku":"VXL-AW-38"},{"id":40019985989799,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 39","public_title":"39","sku":"VXL-AW-39"},{"id":40182156820647,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 40","public_title":"40","sku":"VXL-AW-40"},{"id":40182157639847,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 41","public_title":"41","sku":"VXL-AW-41"},{"id":40182158753959,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 42","public_title":"42","sku":"VXL-AW-42"},{"id":40182160064679,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 43","public_title":"43","sku":"VXL-AW-43"},{"id":40182160883879,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 44","public_title":"44","sku":"VXL-AW-44"},{"id":40182162063527,"price":37800000,"name":"VENDAGE VSX LO - ASTRAL WHITE - 45","public_title":"45","sku":"VXL-AW-45"}]},{"id":5832857190567,"gid":"gid:\/\/shopify\/Product\/5832857190567","vendor":"Heiden Heritage","type":"","variants":[{"id":40019966230695,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 37","public_title":"37","sku":"VXH-AW-37"},{"id":40019967115431,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 38","public_title":"38","sku":"VXH-AW-38"},{"id":40019967836327,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 39","public_title":"39","sku":"VXH-AW-39"},{"id":40182131720359,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 40","public_title":"40","sku":"VXH-AW-40"},{"id":40182133325991,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 41","public_title":"41","sku":"VXH-AW-41"},{"id":40182134505639,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 42","public_title":"42","sku":"VXH-AW-42"},{"id":40182135324839,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 43","public_title":"43","sku":"VXH-AW-43"},{"id":40182136996007,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 44","public_title":"44","sku":"VXH-AW-44"},{"id":40182138601639,"price":39800000,"name":"VENDAGE VSX HI - ASTRAL WHITE - 45","public_title":"45","sku":"VXH-AW-45"}]},{"id":6601174122663,"gid":"gid:\/\/shopify\/Product\/6601174122663","vendor":"Heiden Heritage","type":"","variants":[{"id":39508466860199,"price":21800000,"name":"NYX 2.0 -  SMOKE - M","public_title":"M","sku":"NX2-SMK-M"},{"id":39508466892967,"price":21800000,"name":"NYX 2.0 -  SMOKE - L","public_title":"L","sku":"NX2-SMK-L"},{"id":39508466925735,"price":21800000,"name":"NYX 2.0 -  SMOKE - XL","public_title":"XL","sku":"NX2-SMK-XL"}]},{"id":6569395454119,"gid":"gid:\/\/shopify\/Product\/6569395454119","vendor":"Heiden Heritage","type":"","variants":[{"id":39395269542055,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 37","public_title":"37","sku":"VDL-OFF-37"},{"id":39395269574823,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 38","public_title":"38","sku":"VDL-OFF-38"},{"id":39395269607591,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 39","public_title":"39","sku":"VDL-OFF-39"},{"id":39395269640359,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 40","public_title":"40","sku":"VDL-OFF-40"},{"id":39395269673127,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 41","public_title":"41","sku":"VDL-OFF-41"},{"id":39395269705895,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 42","public_title":"42","sku":"VDL-OFF-42"},{"id":39395269738663,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 43","public_title":"43","sku":"VDL-OFF-43"},{"id":39395269771431,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 44","public_title":"44","sku":"VDL-OFF-44"},{"id":39395269804199,"price":23700000,"name":"VENDAGE LITE - WHITE \/ OFFWHITE \/ GUM - 45","public_title":"45","sku":"VDL-OFF-45"}]},{"id":6569397289127,"gid":"gid:\/\/shopify\/Product\/6569397289127","vendor":"Heiden Heritage","type":"","variants":[{"id":39395276718247,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 37","public_title":"37","sku":"VDL-BW-37"},{"id":39395276751015,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 38","public_title":"38","sku":"VDL-BW-38"},{"id":39395276783783,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 39","public_title":"39","sku":"VDL-BW-39"},{"id":39395276816551,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 40","public_title":"40","sku":"VDL-BW-40"},{"id":39395276849319,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 41","public_title":"41","sku":"VDL-BW-41"},{"id":39395276882087,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 42","public_title":"42","sku":"VDL-BW-42"},{"id":39395276914855,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 43","public_title":"43","sku":"VDL-BW-43"},{"id":39395276947623,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 44","public_title":"44","sku":"VDL-BW-44"},{"id":39395276980391,"price":23700000,"name":"VENDAGE LITE - BLACK \/ OFFWHITE - 45","public_title":"45","sku":"VDL-BW-45"}]},{"id":6217705652391,"gid":"gid:\/\/shopify\/Product\/6217705652391","vendor":"Heiden Heritage","type":"","variants":[{"id":37935483519143,"price":14900000,"name":"NYX 2.0 - Navy - M","public_title":"M","sku":"NX2-NAV-M"},{"id":37935483551911,"price":14900000,"name":"NYX 2.0 - Navy - L","public_title":"L","sku":"NX2-NAV-L"},{"id":37935483584679,"price":14900000,"name":"NYX 2.0 - Navy - XL","public_title":"XL","sku":"NX2-NAV-XL"}]},{"id":6268713664679,"gid":"gid:\/\/shopify\/Product\/6268713664679","vendor":"Heiden Heritage","type":"","variants":[{"id":38131053658279,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 37","public_title":"37","sku":"VSL-OCN-37"},{"id":38131053691047,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 38","public_title":"38","sku":"VSL-OCN-38"},{"id":38131053723815,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 39","public_title":"39","sku":"VSL-OCN-39"},{"id":38165771255975,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 40","public_title":"40","sku":"VSL-OCN-40"},{"id":38165771518119,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 41","public_title":"41","sku":"VSL-OCN-41"},{"id":38165771780263,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 42","public_title":"42","sku":"VSL-OCN-42"},{"id":38165772239015,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 43","public_title":"43","sku":"VSL-OCN-43"},{"id":38165772599463,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 44","public_title":"44","sku":"VSL-OCN-44"},{"id":38165772796071,"price":32700000,"name":"VENDAGE VS LO - WHITE OCEAN - 45","public_title":"45","sku":"VSL-OCN-45"}]},{"id":6139446427815,"gid":"gid:\/\/shopify\/Product\/6139446427815","vendor":"Heiden Heritage","type":"","variants":[{"id":40019900530855,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 37","public_title":"37","sku":"VXH-VT-37"},{"id":40019904430247,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 38","public_title":"38","sku":"VXH-VT-38"},{"id":40019906298023,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 39","public_title":"39","sku":"VXH-VT-39"},{"id":40182246539431,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 40","public_title":"40","sku":"VXH-VT-40"},{"id":40182247129255,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 41","public_title":"41","sku":"VXH-VT-41"},{"id":40182247915687,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 42","public_title":"42","sku":"VXH-VT-42"},{"id":40182249095335,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 43","public_title":"43","sku":"VXH-VT-43"},{"id":40182250143911,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 44","public_title":"44","sku":"VXH-VT-44"},{"id":40182251978919,"price":39800000,"name":"VENDAGE VSX HI - VERMILION TRIMS - 45","public_title":"45","sku":"VXH-VT-45"}]},{"id":6217800188071,"gid":"gid:\/\/shopify\/Product\/6217800188071","vendor":"Heiden Heritage","type":"","variants":[{"id":37935941681319,"price":16900000,"name":"NYX 2.0 - Ocean - M","public_title":"M","sku":"NX2-OCN-M"},{"id":37935941714087,"price":16900000,"name":"NYX 2.0 - Ocean - L","public_title":"L","sku":"NX2-OCN-L"},{"id":37935941746855,"price":16900000,"name":"NYX 2.0 - Ocean - XL","public_title":"XL","sku":"NX2-OCN-XL"}]},{"id":5832938422439,"gid":"gid:\/\/shopify\/Product\/5832938422439","vendor":"Heiden Heritage","type":"","variants":[{"id":36613447319719,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 40","public_title":"40","sku":"VXH-NF-40"},{"id":36613447352487,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 41","public_title":"41","sku":"VXH-NF-41"},{"id":36613447418023,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 42","public_title":"42","sku":"VXH-NF-42"},{"id":36613447483559,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 43","public_title":"43","sku":"VXH-NF-43"},{"id":36613447516327,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 44","public_title":"44","sku":"VXH-NF-44"},{"id":36613447549095,"price":39800000,"name":"VENDAGE VSX HI - NEO FOREST - 45","public_title":"45","sku":"VXH-NF-45"}]},{"id":6688224870567,"gid":"gid:\/\/shopify\/Product\/6688224870567","vendor":"Heiden Heritage","type":"","variants":[{"id":39914317643943,"price":15800000,"name":"NYX SLIDE - BLACK - M","public_title":"M","sku":"NXL-BLK-M"},{"id":39914317676711,"price":15800000,"name":"NYX SLIDE - BLACK - L","public_title":"L","sku":"NXL-BLK-L"},{"id":39914317709479,"price":15800000,"name":"NYX SLIDE - BLACK - XL","public_title":"XL","sku":"NXL-BLK-XL"}]},{"id":6268709437607,"gid":"gid:\/\/shopify\/Product\/6268709437607","vendor":"Heiden Heritage","type":"","variants":[{"id":38131030851751,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 37","public_title":"37","sku":"VSH-OCN-37"},{"id":38131031638183,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 38","public_title":"38","sku":"VSH-OCN-38"},{"id":38131032555687,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 39","public_title":"39","sku":"VSH-OCN-39"},{"id":38165753692327,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 40","public_title":"40","sku":"VSH-OCN-40"},{"id":38165754183847,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 41","public_title":"41","sku":"VSH-OCN-41"},{"id":38165754740903,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 42","public_title":"42","sku":"VSH-OCN-42"},{"id":38165755265191,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 43","public_title":"43","sku":"VSH-OCN-43"},{"id":38165755756711,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 44","public_title":"44","sku":"VSH-OCN-44"},{"id":38165756412071,"price":34700000,"name":"VENDAGE VS HI - WHITE OCEAN - 45","public_title":"45","sku":"VSH-OCN-45"}]},{"id":6821018665127,"gid":"gid:\/\/shopify\/Product\/6821018665127","vendor":"Heiden Heritage","type":"","variants":[{"id":40292077502631,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 37","public_title":"37","sku":"VDL-BOFF-37"},{"id":40292077535399,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 38","public_title":"38","sku":"VDL-BOFF-38"},{"id":40292077600935,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 39","public_title":"39","sku":"VDL-BOFF-39"},{"id":40292077633703,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 40","public_title":"40","sku":"VDL-BOFF-40"},{"id":40292077666471,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 41","public_title":"41","sku":"VDL-BOFF-41"},{"id":40292077699239,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 42","public_title":"42","sku":"VDL-BOFF-42"},{"id":40292077732007,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 43","public_title":"43","sku":"VDL-BOFF-43"},{"id":40292077797543,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 44","public_title":"44","sku":"VDL-BOFF-44"},{"id":40292077830311,"price":23700000,"name":"VENDAGE LITE - BW OFFWHITE BLACK - 45","public_title":"45","sku":"VDL-BOFF-45"}]},{"id":6226059231399,"gid":"gid:\/\/shopify\/Product\/6226059231399","vendor":"Heiden Heritage","type":"","variants":[{"id":37964400525479,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 37","public_title":"37","sku":"VDL-MRN-37"},{"id":38166804529319,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 38","public_title":"38","sku":"VDL-MRN-38"},{"id":38166805938343,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 39","public_title":"39","sku":"VDL-MRN-39"},{"id":38166807019687,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 40","public_title":"40","sku":"VDL-MRN-40"},{"id":38166807249063,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 41","public_title":"41","sku":"VDL-MRN-41"},{"id":38166807511207,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 42","public_title":"42","sku":"VDL-MRN-42"},{"id":38166807707815,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 43","public_title":"43","sku":"VDL-MRN-43"},{"id":38166807871655,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 44","public_title":"44","sku":"VDL-MRN-44"},{"id":38166808101031,"price":23700000,"name":"VENDAGE LITE - Maroon \/ White \/ Gum - 45","public_title":"45","sku":"VDL-MRN-45"}]},{"id":5833931096231,"gid":"gid:\/\/shopify\/Product\/5833931096231","vendor":"Tidak Ada Merek","type":"Sepatu Pria \u003e Sneakers \u003e Tali","variants":[{"id":41575154319527,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 37","public_title":"37","sku":"VXL-UB-37"},{"id":41575154352295,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 38","public_title":"38","sku":"VXL-UB-38"},{"id":41575154385063,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 39","public_title":"39","sku":"VXL-UB-39"},{"id":36616266416295,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 40","public_title":"40","sku":"VXL-UB-40"},{"id":36616266481831,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 41","public_title":"41","sku":"VXL-UB-41"},{"id":36616266514599,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 42","public_title":"42","sku":"VXL-UB-42"},{"id":36616266580135,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 43","public_title":"43","sku":"VXL-UB-43"},{"id":36616266645671,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 44","public_title":"44","sku":"VXL-UB-44"},{"id":36616266711207,"price":37800000,"name":"VENDAGE VSX LO - UMBRAL BLACK - 45","public_title":"45","sku":"VXL-UB-45"}]},{"id":6226064441511,"gid":"gid:\/\/shopify\/Product\/6226064441511","vendor":"Heiden Heritage","type":"","variants":[{"id":37964420907175,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 37","public_title":"37","sku":"VDL-BGM-37"},{"id":38166792175783,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 38","public_title":"38","sku":"VDL-BGM-38"},{"id":38166794109095,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 39","public_title":"39","sku":"VDL-BGM-39"},{"id":38166794928295,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 40","public_title":"40","sku":"VDL-BGM-40"},{"id":38166795124903,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 41","public_title":"41","sku":"VDL-BGM-41"},{"id":38166795288743,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 42","public_title":"42","sku":"VDL-BGM-42"},{"id":38166796861607,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 43","public_title":"43","sku":"VDL-BGM-43"},{"id":38166797058215,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 44","public_title":"44","sku":"VDL-BGM-44"},{"id":38166797287591,"price":23700000,"name":"VENDAGE LITE - Black \/ Gum - 45","public_title":"45","sku":"VDL-BGM-45"}]},{"id":6595603366055,"gid":"gid:\/\/shopify\/Product\/6595603366055","vendor":"Heiden Heritage","type":"","variants":[{"id":39487319376039,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 37","public_title":"37","sku":"VXL-AF-37"},{"id":39487319408807,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 38","public_title":"38","sku":"VXL-AF-38"},{"id":39487319441575,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 39","public_title":"39","sku":"VXL-AF-39"},{"id":39487319474343,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 40","public_title":"40","sku":"VXL-AF-40"},{"id":39487319539879,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 41","public_title":"41","sku":"VXL-AF-41"},{"id":39487319572647,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 42","public_title":"42","sku":"VXL-AF-42"},{"id":39487319605415,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 43","public_title":"43","sku":"VXL-AF-43"},{"id":39487319638183,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 44","public_title":"44","sku":"VXL-AF-44"},{"id":39487319670951,"price":35800000,"name":"VENDAGE VSX ZERO Low - ASTRAL FIRE - 45","public_title":"45","sku":"VXL-AF-45"}]},{"id":6601169404071,"gid":"gid:\/\/shopify\/Product\/6601169404071","vendor":"Heiden Heritage","type":"","variants":[{"id":39508449624231,"price":21800000,"name":"NYX 2.0 -  NOUGAT - M","public_title":"M","sku":"NX2-NGT-M"},{"id":39508449656999,"price":21800000,"name":"NYX 2.0 -  NOUGAT - L","public_title":"L","sku":"NX2-NGT-L"},{"id":39508449689767,"price":21800000,"name":"NYX 2.0 -  NOUGAT - XL","public_title":"XL","sku":"NX2-NGT-XL"}]},{"id":6688234438823,"gid":"gid:\/\/shopify\/Product\/6688234438823","vendor":"Heiden Heritage","type":"","variants":[{"id":39914432561319,"price":19800000,"name":"NYX SLIDE - BLACK GREY - M","public_title":"M","sku":"NXL-BGR-M"},{"id":39914432594087,"price":19800000,"name":"NYX SLIDE - BLACK GREY - L","public_title":"L","sku":"NXL-BGR-L"},{"id":39914432626855,"price":19800000,"name":"NYX SLIDE - BLACK GREY - XL","public_title":"XL","sku":"NXL-BGR-XL"}]},{"id":6620963930279,"gid":"gid:\/\/shopify\/Product\/6620963930279","vendor":"Heiden Heritage","type":"","variants":[{"id":39602737217703,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 37","public_title":"37","sku":"VSH-EB-37"},{"id":39602737250471,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 38","public_title":"38","sku":"VSH-EB-38"},{"id":39602737283239,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 39","public_title":"39","sku":"VSH-EB-39"},{"id":39602737316007,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 40","public_title":"40","sku":"VSH-EB-40"},{"id":39602737348775,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 41","public_title":"41","sku":"VSH-EB-41"},{"id":39602737381543,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 42","public_title":"42","sku":"VSH-EB-42"},{"id":39602737414311,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 43","public_title":"43","sku":"VSH-EB-43"},{"id":39602737447079,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 44","public_title":"44","sku":"VSH-EB-44"},{"id":39602737479847,"price":39700000,"name":"VENDAGE VS HI - ESPRESSO BLAZE - 45","public_title":"45","sku":"VSH-EB-45"}]},{"id":6688237486247,"gid":"gid:\/\/shopify\/Product\/6688237486247","vendor":"Heiden Heritage","type":"","variants":[{"id":39914458841255,"price":13800000,"name":"NYX SLIDE - BLACK NAVY - M","public_title":"M","sku":"NXL-BNV-M"},{"id":39914458874023,"price":13800000,"name":"NYX SLIDE - BLACK NAVY - L","public_title":"L","sku":"NXL-BNV-L"},{"id":39914458939559,"price":13800000,"name":"NYX SLIDE - BLACK NAVY - XL","public_title":"XL","sku":"NXL-BNV-XL"}]},{"id":6692536484007,"gid":"gid:\/\/shopify\/Product\/6692536484007","vendor":"Heiden Heritage","type":"","variants":[{"id":39947828396199,"price":48800000,"name":"ZEPHYR - DARKWOOD - 39","public_title":"39","sku":"ZHR-GC-39"},{"id":39947828428967,"price":48800000,"name":"ZEPHYR - DARKWOOD - 40","public_title":"40","sku":"ZHR-GC-40"},{"id":39947828461735,"price":48800000,"name":"ZEPHYR - DARKWOOD - 41","public_title":"41","sku":"ZHR-GC-41"},{"id":39947828494503,"price":48800000,"name":"ZEPHYR - DARKWOOD - 42","public_title":"42","sku":"ZHR-GC-42"},{"id":39947828527271,"price":48800000,"name":"ZEPHYR - DARKWOOD - 43","public_title":"43","sku":"ZHR-GC-43"},{"id":39947828560039,"price":48800000,"name":"ZEPHYR - DARKWOOD - 44","public_title":"44","sku":"ZHR-GC-44"}]},{"id":6595587866791,"gid":"gid:\/\/shopify\/Product\/6595587866791","vendor":"Heiden Heritage","type":"","variants":[{"id":39487287984295,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 37","public_title":"37","sku":"VXH-AF-37"},{"id":39487288836263,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 38","public_title":"38","sku":"VXH-AF-38"},{"id":39487290441895,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 39","public_title":"39","sku":"VXH-AF-39"},{"id":39487294996647,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 40","public_title":"40","sku":"VXH-AF-40"},{"id":39487296864423,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 41","public_title":"41","sku":"VXH-AF-41"},{"id":39487298470055,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 42","public_title":"42","sku":"VXH-AF-42"},{"id":39487300206759,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 43","public_title":"43","sku":"VXH-AF-43"},{"id":39487300829351,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 44","public_title":"44","sku":"VXH-AF-44"},{"id":39487301845159,"price":37800000,"name":"VENDAGE VSX ZERO High - ASTRAL FIRE - 45","public_title":"45","sku":"VXH-AF-45"}]},{"id":6688230015143,"gid":"gid:\/\/shopify\/Product\/6688230015143","vendor":"Heiden Heritage","type":"","variants":[{"id":39914371842215,"price":19800000,"name":"NYX SLIDE - GREY - L","public_title":"L","sku":"NXL-GRY-L"},{"id":39914371809447,"price":19800000,"name":"NYX SLIDE - GREY - M","public_title":"M","sku":"NXL-GRY-M"},{"id":39914371907751,"price":19800000,"name":"NYX SLIDE - GREY - XL","public_title":"XL","sku":"NXL-GRY-XL"}]}],"page":{"pageType":"collection","resourceType":"collection","resourceId":271630106791}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
<script class="analytics">(window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


(function () {
  var customDocumentWrite = function(content) {
    var jquery = null;

    if (window.jQuery) {
      jquery = window.jQuery;
    } else if (window.Checkout && window.Checkout.$) {
      jquery = window.Checkout.$;
    }

    if (jquery) {
      jquery('body').append(content);
    }
  };

  var hasLoggedConversion = function(token) {
    if (token) {
      return document.cookie.indexOf('loggedConversion=' + token) !== -1;
    }
    return false;
  }

  var setCookieIfConversion = function(token) {
    if (token) {
      var twoMonthsFromNow = new Date(Date.now());
      twoMonthsFromNow.setMonth(twoMonthsFromNow.getMonth() + 2);

      document.cookie = 'loggedConversion=' + token + '; expires=' + twoMonthsFromNow;
    }
  }

  var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
  if (trekkie.integrations) {
    return;
  }
  trekkie.methods = [
    'identify',
    'page',
    'ready',
    'track',
    'trackForm',
    'trackLink'
  ];
  trekkie.factory = function(method) {
    return function() {
      var args = Array.prototype.slice.call(arguments);
      args.unshift(method);
      trekkie.push(args);
      return trekkie;
    };
  };
  for (var i = 0; i < trekkie.methods.length; i++) {
    var key = trekkie.methods[i];
    trekkie[key] = trekkie.factory(key);
  }
  trekkie.load = function(config) {
    trekkie.config = config || {};
    trekkie.config.initialDocumentCookie = document.cookie;
    var first = document.getElementsByTagName('script')[0];
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.onerror = function(e) {
      var scriptFallback = document.createElement('script');
      scriptFallback.type = 'text/javascript';
      scriptFallback.onerror = function(error) {
              var Monorail = {
      produce: function produce(monorailDomain, schemaId, payload) {
        var currentMs = new Date().getTime();
        var event = {
          schema_id: schemaId,
          payload: payload,
          metadata: {
            event_created_at_ms: currentMs,
            event_sent_at_ms: currentMs
          }
        };
        return Monorail.sendRequest("https://" + monorailDomain + "/v1/produce", JSON.stringify(event));
      },
      sendRequest: function sendRequest(endpointUrl, payload) {
        // Try the sendBeacon API
        if (window && window.navigator && typeof window.navigator.sendBeacon === 'function' && typeof window.Blob === 'function' && !Monorail.isIos12()) {
          var blobData = new window.Blob([payload], {
            type: 'text/plain'
          });
    
          if (window.navigator.sendBeacon(endpointUrl, blobData)) {
            return true;
          } // sendBeacon was not successful
    
        } // XHR beacon   
    
        var xhr = new XMLHttpRequest();
    
        try {
          xhr.open('POST', endpointUrl);
          xhr.setRequestHeader('Content-Type', 'text/plain');
          xhr.send(payload);
        } catch (e) {
          console.log(e);
        }
    
        return false;
      },
      isIos12: function isIos12() {
        return window.navigator.userAgent.lastIndexOf('iPhone; CPU iPhone OS 12_') !== -1 || window.navigator.userAgent.lastIndexOf('iPad; CPU OS 12_') !== -1;
      }
    };
    Monorail.produce('monorail-edge.shopifysvc.com',
      'trekkie_storefront_load_errors/1.1',
      {shop_id: 34171125891,
      theme_id: 89561202819,
      app_name: "storefront",
      context_url: window.location.href,
      source_url: "https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js"});

      };
      scriptFallback.async = true;
      scriptFallback.src = 'https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js';
      first.parentNode.insertBefore(scriptFallback, first);
    };
    script.async = true;
    script.src = 'https://cdn.shopify.com/s/trekkie.storefront.1d937de3ab351f3a21d472769f20c0ea72d77fae.min.js';
    first.parentNode.insertBefore(script, first);
  };
  trekkie.load(
    {"Trekkie":{"appName":"storefront","development":false,"defaultAttributes":{"shopId":34171125891,"isMerchantRequest":null,"themeId":89561202819,"themeCityHash":"13638044084361749923","contentLanguage":"en","currency":"IDR"},"isServerSideCookieWritingEnabled":true},"Google Analytics":{"trackingId":"UA-126904704-2","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["2220214468247094"],"agent":"plshopify1.2"},"Session Attribution":{},"S2S":{"emitV4CheckoutEvent":true,"facebookCapiEnabled":true,"facebookAppPixelId":"2220214468247094","source":"trekkie-storefront-renderer"}}
  );

  var loaded = false;
  trekkie.ready(function() {
    if (loaded) return;
    loaded = true;

    window.ShopifyAnalytics.lib = window.trekkie;
    
      ga('require', 'linker');
      function addListener(element, type, callback) {
        if (element.addEventListener) {
          element.addEventListener(type, callback);
        }
        else if (element.attachEvent) {
          element.attachEvent('on' + type, callback);
        }
      }
      function decorate(event) {
        event = event || window.event;
        var target = event.target || event.srcElement;
        if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
          ga(function (tracker) {
            var linkerParam = tracker.get('linkerParam');
            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
          });
        }
      }
      addListener(window, 'load', function(){
        for (var i=0; i < document.forms.length; i++) {
          var action = document.forms[i].getAttribute('action');
          if(action && action.indexOf('/cart') >= 0) {
            addListener(document.forms[i], 'submit', decorate);
          }
        }
        for (var i=0; i < document.links.length; i++) {
          var href = document.links[i].getAttribute('href');
          if(href && href.indexOf('/checkout') >= 0) {
            addListener(document.links[i], 'click', decorate);
          }
        }
      });
    

    var originalDocumentWrite = document.write;
    document.write = customDocumentWrite;
    try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
    document.write = originalDocumentWrite;

    window.ShopifyAnalytics.lib.page(null,{"pageType":"collection","resourceType":"collection","resourceId":271630106791});

    var match = window.location.pathname.match(/checkouts\/(.+)\/(thank_you|post_purchase)/)
    var token = match? match[1]: undefined;
    if (!hasLoggedConversion(token)) {
      setCookieIfConversion(token);
      window.ShopifyAnalytics.lib.track("Viewed Product Category",{"currency":"IDR","category":"Collection: women","collectionName":"women","nonInteraction":true});
    }
  });

  
      var eventsListenerScript = document.createElement('script');
      eventsListenerScript.async = true;
      eventsListenerScript.src = "//cdn.shopify.com/shopifycloud/shopify/assets/shop_events_listener-fa61fd11817b231631d2fe43dc869d0b1d14a06332792d42f1a1d94bda5aa31e.js";
      document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    
})();</script>
<script class="boomerang">
(function () {
  if (window.BOOMR && (window.BOOMR.version || window.BOOMR.snippetExecuted)) {
    return;
  }
  window.BOOMR = window.BOOMR || {};
  window.BOOMR.snippetStart = new Date().getTime();
  window.BOOMR.snippetExecuted = true;
  window.BOOMR.snippetVersion = 12;
  window.BOOMR.application = "storefront-renderer";
  window.BOOMR.themeName = "Kingdom";
  window.BOOMR.themeVersion = "3.2.0";
  window.BOOMR.shopId = 34171125891;
  window.BOOMR.themeId = 89561202819;
  window.BOOMR.url =
    "https://cdn.shopify.com/shopifycloud/boomerang/shopify-boomerang-1.0.0.min.js";
  var where = document.currentScript || document.getElementsByTagName("script")[0];
  var parentNode = where.parentNode;
  var promoted = false;
  var LOADER_TIMEOUT = 3000;
  function promote() {
    if (promoted) {
      return;
    }
    var script = document.createElement("script");
    script.id = "boomr-scr-as";
    script.src = window.BOOMR.url;
    script.async = true;
    parentNode.appendChild(script);
    promoted = true;
  }
  function iframeLoader(wasFallback) {
    promoted = true;
    var dom, bootstrap, iframe, iframeStyle;
    var doc = document;
    var win = window;
    window.BOOMR.snippetMethod = wasFallback ? "if" : "i";
    bootstrap = function(parent, scriptId) {
      var script = doc.createElement("script");
      script.id = scriptId || "boomr-if-as";
      script.src = window.BOOMR.url;
      BOOMR_lstart = new Date().getTime();
      parent = parent || doc.body;
      parent.appendChild(script);
    };
    if (!window.addEventListener && window.attachEvent && navigator.userAgent.match(/MSIE [67]./)) {
      window.BOOMR.snippetMethod = "s";
      bootstrap(parentNode, "boomr-async");
      return;
    }
    iframe = document.createElement("IFRAME");
    iframe.src = "about:blank";
    iframe.title = "";
    iframe.role = "presentation";
    iframe.loading = "eager";
    iframeStyle = (iframe.frameElement || iframe).style;
    iframeStyle.width = 0;
    iframeStyle.height = 0;
    iframeStyle.border = 0;
    iframeStyle.display = "none";
    parentNode.appendChild(iframe);
    try {
      win = iframe.contentWindow;
      doc = win.document.open();
    } catch (e) {
      dom = document.domain;
      iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
      win = iframe.contentWindow;
      doc = win.document.open();
    }
    if (dom) {
      doc._boomrl = function() {
        this.domain = dom;
        bootstrap();
      };
      doc.write("<body onload='document._boomrl();'>");
    } else {
      win._boomrl = function() {
        bootstrap();
      };
      if (win.addEventListener) {
        win.addEventListener("load", win._boomrl, false);
      } else if (win.attachEvent) {
        win.attachEvent("onload", win._boomrl);
      }
    }
    doc.close();
  }
  var link = document.createElement("link");
  if (link.relList &&
    typeof link.relList.supports === "function" &&
    link.relList.supports("preload") &&
    ("as" in link)) {
    window.BOOMR.snippetMethod = "p";
    link.href = window.BOOMR.url;
    link.rel = "preload";
    link.as = "script";
    link.addEventListener("load", promote);
    link.addEventListener("error", function() {
      iframeLoader(true);
    });
    setTimeout(function() {
      if (!promoted) {
        iframeLoader(true);
      }
    }, LOADER_TIMEOUT);
    BOOMR_lstart = new Date().getTime();
    parentNode.appendChild(link);
  } else {
    iframeLoader(false);
  }
  function boomerangSaveLoadTime(e) {
    window.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
  }
  if (window.addEventListener) {
    window.addEventListener("load", boomerangSaveLoadTime, false);
  } else if (window.attachEvent) {
    window.attachEvent("onload", boomerangSaveLoadTime);
  }
  if (document.addEventListener) {
    document.addEventListener("onBoomerangLoaded", function(e) {
      e.detail.BOOMR.init({
        producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
        ResourceTiming: {
          enabled: true,
          trackedResourceTypes: ["script", "img", "css"]
        },
      });
      e.detail.BOOMR.t_end = new Date().getTime();
    });
  } else if (document.attachEvent) {
    document.attachEvent("onpropertychange", function(e) {
      if (!e) e=event;
      if (e.propertyName === "onBoomerangLoaded") {
        e.detail.BOOMR.init({
          producer_url: "https://monorail-edge.shopifysvc.com/v1/produce",
          ResourceTiming: {
            enabled: true,
            trackedResourceTypes: ["script", "img", "css"]
          },
        });
        e.detail.BOOMR.t_end = new Date().getTime();
      }
    });
  }
})();</script>
</head>

<body id="women" class=" template-collection template-collection no-touch clearfix">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N97W7HZ"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="shopify-section-announcement-bar" class="shopify-section mount-announcement"> 

	
		
		<a class="announcement"  href="/collections/all" >
			<span class="announcement__text">INSPIRED BY THE WORLD, DEDICATED FOR YOU.</span>
		</a>

		
			<span class="announcement__exit" aria-label="Close">

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>


</span>
		

		<style data-shopify>
			.announcement {
				background: #004a68;
				color: #ffffff;
			}
			.announcement__exit polygon {
				fill: #ffffff;
			}
			
				.announcement {
					padding-right: 40px;
				}
			
		</style>

    <script type="text/javascript">
      var ad = localStorage.getItem('announcement-dismissed');
      if ( ad != 'true' ) {
        jQuery('body').addClass('show-announcement-bar');
      }
    </script>

	



</div>

	<div id="shopify-section-sidebar" class="shopify-section mount-sidebar mount-overlay"><div class="sidebar">

	<div class="sidebar__container sidebar__responsive-container">

		<div class="sidebar__container-holder" style="flex: 1 0 auto;">

	    <header class="logo">

				
					<div itemscope itemtype="//schema.org/Organization">
				

					

						<a class="logo__image" href="/" itemprop="url">
							<img src="/images/logo.png" alt="Heiden Heritage" style="max-width: 170px;" />
						</a>

					

				
					</div>
				

	    </header>

	    <div class="sidebar__menus">

		    <nav class="primary-menu">
					<ul class="sidebar__menu">

	

</ul>
	    	</nav>

	    	<nav class="secondary-menu">

					<ul class="sidebar__menu">

	

		<li class="" >

			<a href="/" >
				<span style="flex: 1;"><span class="underline-animation">Home</span></span>
				
			</a>

			

		</li>

	

		<li class="" >

			<a href="/products"  class="selected" >
				<span style="flex: 1;"><span class="underline-animation">Products</span></span>
				
			</a>

			

		</li>

	

		

	

</ul>

					
		    		<ul class="sidebar__menu">
		    			<li>
			    			
			    				<a href="/login"><span class="underline-animation">Login</span></a>
								
							</li>
		    		</ul>
	    		

	    	</nav>

				<span class="sidebar__menus-close hidden" aria-label="Close">
					

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



				</span>

				<span class="sidebar__menus-back hidden" aria-label="Back">
					

	<svg class="svg symbol symbol--arrow-left" style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.4 6.6L17 8.1l3.2 3.2H.2v2h20L17 16.6l1.4 1.4 5.6-5.7z"/></svg>



				</span>

	    </div>

	    <div class="sidebar__responsive-handles">
				
				
					<span class="sidebar__search-handle">
						<span class="icon icon-search" aria-hidden="true">

	<svg class="svg symbol symbol--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.11l1.414-1.414 5.657 5.657-1.414 1.414z"/></svg>


</span>
					</span>
				

				<a href="/home/checkout" aria-label="Shopping Cart" title="Shopping Cart" style="position:absolute; top: 40px; left:200px;">
					<!-- <span class="icon icon-cart" aria-hidden="true" style="height: 28px;"> -->

	<svg class="svg symbol symbol--cart low-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 7H4.85375C3.25513 7 1.93732 8.25356 1.85749 9.85019L1.15749 23.8502C1.07181 25.5637 2.43806 27 4.15375 27H19.8463C21.5619 27 22.9282 25.5637 22.8425 23.8502L22.1425 9.85019C22.0627 8.25356 20.7449 7 19.1463 7H17M7 7V5C7 2.79086 8.79086 1 11 1H13C15.2091 1 17 2.79086 17 5V7M7 7H17" stroke="black" stroke-width="2"/></svg><svg class="svg symbol symbol--cart high-dpi" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.20513 7.11364H4.96283C3.37199 7.11364 2.05776 8.35543 1.96765 9.94371L1.17984 23.8301C1.08221 25.551 2.45138 27 4.17502 27H19.825C21.5486 27 22.9178 25.551 22.8202 23.8301L22.0324 9.94371C21.9422 8.35542 20.628 7.11364 19.0372 7.11364H16.7949M7.20513 7.11364V5C7.20513 2.79086 8.99599 1 11.2051 1H12.7949C15.004 1 16.7949 2.79086 16.7949 5V7.11364M7.20513 7.11364H16.7949" stroke="black" stroke-width="1.5"/></svg>


</span>

      <% let count = 0 %>
      <% data.forEach(el => { %>
          <% count += el.Orders.length %> 
       <% }) %>  
					<span class="count" aria-hidden="true" style="position:absolute; right:8px; top:5px;"><%= count %> </span>
				</a>

				<span class="sidebar__menu-handle">
					<span class="icon icon-menu" aria-hidden="true">

	<svg class="svg symbol symbol--burger" width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 5H24V7H0V5Z" fill="black"/><path d="M0 13H24V14V15H0C0 14.7071 0 14.2286 0 14C0 13.7714 0 13.2929 0 13Z" fill="black"/><path d="M0 21H24V23H0V21Z" fill="black"/></svg>


</span>
				</span>

			</div>
			
			
				<div class="sidebar__cart">
					<div>
						<div class="cart" id="cart">

	<div class="cart__title" data-added-singular="{{ count }} product was added to your cart" data-added-plural="{{ count }} products were added to your cart" data-cart-empty="Your cart is currently empty.">
		
			<span>Your cart is currently empty.</span>
		
	</div>

	<form action="/cart" method="post" novalidate class="cart__form  cart--empty ">
		
		<div class="cart__items">

			

		</div>

		<div class="cart__details">

			
			  <textarea name="note" id="cartSpecialInstructions" placeholder="Special instructions for seller" aria-label="Special instructions for seller"></textarea>
			

		  <div class="cart-details" id="CartDetails">

		  	<div>
			    
			    

					<p id="CartTotal" class="h1">Total: <strong>Rp  0</strong></p>
					<small>Shipping &amp; taxes are calculated at checkout.</small>

				</div>
		
				<span class="cart-buttons">
	      	<button id="ViewCart" class="button button--outline" style="margin-right: 25px;">View Cart</button>
		    	<input id="CheckOut" class="button button--solid" type="submit" name="checkout" value="Check Out">
		    </span>

		  </div>

	    
	      
	    

		</div>

		<span class="cart__preloader"></span>

		<div class="cart-continue">
			<a href="/" class="button button--solid">Continue browsing</a>
		</div>

	</form>

</div>
						<span class="sidebar__cart-close" aria-label="Close">
							

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



						</span>
					</div>
				</div>
			

		</div>

		
			<div class="sidebar__footer">
				<form action="/home" method="get" class="input-group search-form " role="search" autocomplete="off">

	

  <input type="search" name="search" value="" placeholder="search..." data-responsive-placeholder="Type a keyword and press enter..." class="input-group-field" aria-label="Search..." autocomplete="off">
  <button type="submit" class="btn icon-fallback-text" aria-label="Submit">
    <span class="icon icon-search" aria-hidden="true">

	<svg class="svg symbol symbol--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.2 19.2a8.96 8.96 0 0 1-9-9 8.96 8.96 0 0 1 9-9 8.96 8.96 0 0 1 9 9 8.96 8.96 0 0 1-9 9zm0-16c-3.9 0-7 3.1-7 7s3.1 7 7 7 7-3.1 7-7c0-3.8-3.1-7-7-7z"/><path d="M15.65 17.11l1.414-1.414 5.657 5.657-1.414 1.414z"/></svg>


</span>
  </button>


	<span class="sidebar__search-close hidden" aria-label="Close">
		

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



	</span>

</form>
			</div>
		

	</div>

</div>

</div>

	<div id="content-holder">

		<main id="content" role="main">

			<div id="shopify-section-collection" class="shopify-section mount-collection mount-collection-filters overflow-hidden"><div class="collection-header   has-filters ">
    
  <div class="collection-header__container">

    

	<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">

		<span class="breadcrumb__link"><a href="/">Home</a></span>

		
		
			
				
			

			

				<span class="breadcrumb__separator">/</span>
				
					<span class="breadcrumb__current">Products</span>
				
				
			

			

		

	</nav>



    <h1 class="collection-header__title h1">Products</h1>

    
      
        <div class="collection-header__description rte">CHOOSE YOU FAVOURITE NOW!!!</div>
      
    

  </div>

  

    <div class="collection-filters-handle-holder">
      <button id="collection-filters-handle" class="button button--small button--outline">
        Sort &amp; Filter
        <span aria-hidden="true">

	<svg class="svg symbol symbol--filter low-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000" fill-rule="evenodd"><path d="M23 7H2V5h21v2zm-7.393 6H2v-2h13.607v2zm-5.75 6H2v-2h7.857v2z"/></svg><svg class="svg symbol symbol--filter high-dpi" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000" fill-rule="evenodd"><path d="M23 6.75H2v-1.5h21v1.5zm-7.393 6H2v-1.5h13.607v1.5zm-5.75 6H2v-1.5h7.857v1.5z"/></svg>


</span>
      </button>
    </div>

  

  


  

  

</div>


  
  <div class="gutter--on">

    

    <div class="collection collection--classic collection--grid mount-collection">

      
        







<% data.forEach(el=>{ %> 

<div class="product-item ">

	<a href="" >

		

			<div class="product-item__thumbnail" style="padding-top:99.76359338061465%" data-padding="99.76359338061465">
				
				
					




        

<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="1.0023696682464456" style="padding-top: 99.76359338061465%" >

	<img
	  src="/images/<%=el.imagePath%>" alt="<%= el.name %> "
	   data-srcset="/images/<%=el.imagePath%>" 
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/products/NYX2.0SIDECB_860x.jpg?v=1641266754)"></span></noscript>

	

	

</figure>


			  

		  	

<div class="product-item__secondary-image">
						
							







<figure data-crop="true" class="lazy-image  lazy-image--background "  data-ratio="0.9985543910372244" style="padding-top: 100.14477017734347%" >

	<img
	  src="/images/<%=el.imagePath%>"alt="NYX 2.0 - Chaotic Black"
	  data-srcset="/images/<%=el.imagePath%>"
	  data-sizes="auto" class="img lazyload"
	  itemprop="image"
 	/>
	
		<span class="lazy-preloader"></span>
	

	<noscript><span class="ll-fallback" style="background-image:url(//cdn.shopify.com/s/files/1/0341/7112/5891/products/NYX2.0ISOCB_860x.jpg?v=1641266754)"></span></noscript>

	

	

</figure>


					  
</div>

		  	

		  </div>

		

	  <div class="product-item__caption  reviews-visible ">

	  	<h3 class="product-item__title h3  underline-animation ">
	  		
	  			<%= el.name %> 
	  		
	  	</h3>

			<div class="product-item__price">

				

					

					<span class="product-item__price--original">
						
                        <%= formatRp(el.price) %> 
					</span><br>

				<span>Stock: <%= el.stock %> </span><br>
                <span>Category: <%= el.Category.name %>  </span><br>
                <span>Release Date: <%= formatDate(el.createdAt) %> </span>

                
				
                
			</div>
            
            
            <span class="product-item__reviews">
                <span class="shopify-product-reviews-badge" data-id="4994035122307"></span>
            </span>
            
            
		</div>
    <% if(el.stock <= 0){%> 
      <span class="product-item__badge product-item__badge--sold"><span>SOLD OUT</span></span>
      <% }else{ %> 
        <span class="product-item__badge product-item__badge--sold"><span>AVAILABLE</span></span>
        <button type="submit" style="cursor:pointer; font-size: 10pt; background-color: skyblue; border-radius: 10px; width: 50px; height: 25px; margin-left: 220px;"> <a href="/home/<%= el.id%>/buy "> BUY</a></button>
        <% } %> 
	</a>
    
</div>
<% }) %> 

        

        
		

	
      

    </div>

  	

  </div>



<div id="collection-filters" class="collection__filters" data-collection-handle="women">

  <div>

    <div class="filters">

      

        <div class="option">
          <label for="sort-by">Sort</label>
          <select name="sort-by" id="sort-by">
            <option value="manual">Featured</option>
            <option value="title-ascending">A-Z</option>
            <option value="title-descending">Z-A</option>
            <option value="price-ascending">Price, low to high</option>
            <option value="price-descending">Price, high to low</option>
            <option value="created-descending">Date, new to old</option>
            <option value="created-ascending">Date, old to new</option>
          </select>
        </div>

      

      

        

          <div class="option">
            <label for="filter-by">Filter</label>
            <select name="filter-by" id="filter-by">
                <option value="">All</option>
                
                  
                    <option value="hrtg">HRTG</option>
                  
                
                  
                    <option value="nyx">NYX</option>
                  
                
                  
                    <option value="sale">sale</option>
                  
                
                  
                    <option value="sandal">SANDAL</option>
                  
                
                  
                    <option value="vendage">VENDAGE</option>
                  
                
                  
                    <option value="versus">VERSUS</option>
                  
                
                  
                    <option value="zephyr">ZEPHYR</option>
                  
                
            </select>
          </div>

        

      

      <div class="actions">
        <button id="apply-sort-filter" class="button button--solid" style="margin-right: 10px;">Apply</button>
        <button id="clear-sort-filter" class="button button--outline button--outline-hover">Clear all</button>
      </div>

    </div>

    <span class="collection__filters-close" aria-label="Close">
      

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



    </span>

  </div>

</div>

</div>

<script type="text/javascript">

  window.KingdomCollectionFilter = {
    'pathname': document.location.pathname + document.location.search,
    'sort': ''
  }

  $(document).on('shopify:section:select', function(e){
    var $section = $(e.target);
    if ( $section.hasClass('mount-collection-page') ) {
      initFilters();
    }
  });

  function initFilters() {

    var $filters = jQuery('.filter-by');

    $filters.change(function() {
      var newTags = [];
      $filters.each(function() { 
        if (jQuery(this).val()) {
          newTags.push(jQuery(this).val());
        }
      });
      if (newTags.length) {
        var query = newTags.join('+');
        window.KingdomCollectionFilter['pathname'] = $('<a href="/collections/women/tag" title="Show products matching tag tag">tag</a>').attr('href').replace('tag', query);
      } else {
        
          window.KingdomCollectionFilter['pathname'] = '/collections/women';
        
      }
    });

  }
  
  initFilters();

</script>

<script type="text/javascript">

  $(document).on('shopify:section:select', function(e){
    var $section = $(e.target);
    if ( $section.hasClass('collection-page') ) {
      initSort();
    }
  });

  function initSort() {

    Shopify.queryParams = {};
      if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
          aKeyValue = aCouples[i].split('=');
          if (aKeyValue.length > 1) {
            Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
          }
      }
    }

    $(function() {

      $('#sort-by')
        .val('best-selling')
        .bind('change', function() {
          window.KingdomCollectionFilter['sort'] = $(this).val();
        }
      );

      if ( $('#sort-by').hasClass('styled') ) {
        $('#sort-by').parent().find('.regular-select-inner').html($('#sort-by option:selected').text())
      }

    });

  }
  
  initSort();

</script>

<script type="text/javascript">

  function initFilterSortApply() {

    $(function(){

      $('#apply-sort-filter').on('click', function(){
        if ( window.KingdomCollectionFilter['sort'] != '' ) {
          if ( window.KingdomCollectionFilter['pathname'].indexOf('sort_by') >= 0 ) {
            window.KingdomCollectionFilter['pathname'] = window.KingdomCollectionFilter['pathname'].replace(/sort_by=.+/g, 'sort_by=' + window.KingdomCollectionFilter['sort']);
          } else {
            window.KingdomCollectionFilter['pathname'] = window.KingdomCollectionFilter['pathname'] + ( window.KingdomCollectionFilter['pathname'].indexOf('?') >= 0 ? '&' : '?' ) + 'sort_by=' + window.KingdomCollectionFilter['sort'];
          }
          
        } else {
          // empty
        }
        document.location.href =  window.KingdomCollectionFilter['pathname'];
      });

      $('#clear-sort-filter').on('click', function(){
        document.location.href = document.location.origin + '/collections/' + $('.collection__filters').data('collection-handle');
      });

    });

  }

  initFilterSortApply();

</script>

			<div id="shopify-section-text-columns-with-icons" class="shopify-section">





	<div class="text-columns-with-icons">

		<div class="content-section gutter--on text-w-icon text-w-image" data-size="4">

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-width="2" stroke-linejoin="round"><path stroke-miterlimit="10" d="M30.5 50H2V16.4L11.6 2h28.8L50 16.4v14.1M2.3 16h47.4M26 2v14" stroke-linecap="round"/><circle cx="46" cy="46" r="16"/><path stroke-miterlimit="10" d="M53 42.1l-8 9-5-5" stroke-linecap="round"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Quality Guarantee</h3>
						<div class="text-w-icon__rte rte"><p>Tiga (3) Bulan garansi produk untuk perbaikan dan penukaran.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><g stroke-linecap="round"><path d="M17 15h26c2.3 0 2.1 1.6 1.7 3.1S41 33 41 33h10.1l4-2 3.9 2v8c0 1.3-.5 2-2 2h-8M9 43h6.6m9.4 0h14.6"/><path d="M43.6 23H49l6.1 8M31 23H9m18 8H5"/></g><path d="M24.8 44a6.9 6.9 0 0 1-6.2 5c-2.7 0-4.2-2.2-3.4-5a6.9 6.9 0 0 1 6.2-5c2.6 0 4.2 2.2 3.4 5zm24 0a6.9 6.9 0 0 1-6.2 5c-2.7 0-4.2-2.2-3.4-5a6.9 6.9 0 0 1 6.2-5c2.6 0 4.2 2.2 3.4 5z"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Pengiriman Cepat</h3>
						<div class="text-w-icon__rte rte"><p>Kurir pengiriman handal menjamin produk brader datang tepat waktu.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020"><g stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><path d="M20.2 46H5a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3m-50 7h21.3M12 26h8" stroke-linecap="round"/><path d="M62 41a5.4 5.4 0 0 1-3 5L24 59.6c-3 1.3-4-1-4-2.6V23a5.2 5.2 0 0 1 3-5L57 4.8c2.2-.8 5 .5 5 2.2z"/></g><circle cx="32" cy="36.2" r="4" stroke-width="2" stroke-linejoin="round"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Pembayaran Mudah</h3>
						<div class="text-w-icon__rte rte"><p>Beragam metode pembayaran melalui jaringan yang aman untuk menjamin informasi brader terjaga.</p></div>

					</div>

				</div>

			

				<div class="text-w-icon__container" >

					<div class="text-w-icon__icon">
						
							<span>
	<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="round"><path d="M49.7 49.2c-.7-2.2-2.8-5.7-9.1-7-8.1-1.6-8.6-3.6-8.6-5.2v-2a14.1 14.1 0 0 0 4-7c2.5 0 4-3 4-6 0-.8 0-4-2-4C43 3.6 28.4-2 18 5c-4.4 0-5.6 6.6-4 13-2 0-2 3.2-2 4 0 3 1.5 6 4 6a14.2 14.2 0 0 0 4 7v2c0 1.6-.5 3.6-8.6 5.2S2 51 2 51h36.9" stroke-linecap="round"/><path d="M57 32c-1.4-.2-2 .9-2.5 1.5l-3.4 5.2a2.4 2.4 0 0 0 .6 3.3c1.4 1.2 2.9 2.2-2.6 7.7s-6 3.5-7.2 2.1a2.4 2.4 0 0 0-3.3-.6l-5.2 3.4c-.7.5-1.7 1.1-1.5 2.5a7.2 7.2 0 0 0 6.8 5c4.5 0 10-3.5 14.8-8.4S62 43.3 62 38.8a7.2 7.2 0 0 0-5-6.8z"/></svg>
</span>
						
					</div>

					<div class="text-w-icon__content">

						<h3 class="text-w-icon__title h2">Admin Bersahabat</h3>
						<div class="text-w-icon__rte rte"><p>Admin yang ramah dan edukatif siap menjawab semua pertanyaan brader.</p></div>

					</div>

				</div>

			

		</div>

	</div>




  <style data-shopify>
    #shopify-section-text-columns-with-icons .text-columns-with-icons {
      background: #f5f5f5;
      padding-top: 100px;
    }
    @media all and (max-width: 948px) {
    	#shopify-section-text-columns-with-icons .text-columns-with-icons {
				padding-top: 70px;
			}
  	}
    @media all and (max-width: 480px) {
    	#shopify-section-text-columns-with-icons .text-columns-with-icons {
				padding-top: 50px;
			}
  	}
  </style>



  <style data-shopify>
    #shopify-section-text-columns-with-icons .text-columns-with-icons {
      color: #262626;
    }
    #shopify-section-text-columns-with-icons .text-columns-with-icons a {
      color: #262626;
    }
    #shopify-section-text-columns-with-icons .text-columns-with-icons svg * {
      stroke: #262626;
    }
  </style>


</div>
			<div id="shopify-section-footer" class="shopify-section mount-footer"><div class="footer">

  

    

      

          </div>

        </div>
  
    

  

    

        <div class="footer-item footer-info">
      
          

        </div>

      

  

</div>

</div>

		</main>

	</div>

	<div id="shopify-section-popup" class="shopify-section mount-popup"><div class="popup-content" data-show="10" data-freq="week" data-enable="false">

  

  <div class="popup-text">

    
      <h4 class="h1 popup-title">Newsletter</h4>
    

    
      <div class="rte"><p>Stay up to date on the latest product releases, special offers &amp; news by signing up for our newsletter.</p><p>Read our <a href="#">privacy policy</a>.</p></div>
    

    
      <div class="popup-form">
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="" />
          
          
            <div>
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" class="newsletter__input" value="" placeholder="Enter your email" name="contact[email]" id="Email" aria-label="Enter your email" autocorrect="off" autocapitalize="off">
              <button type="submit" class="newsletter__submit" id="Subscribe" aria-label="Submit">
                <span aria-hidden="true">

	<span class="long-arrow"><svg class="svg symbol symbol--arrow-long low-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30 5.99999L27.5 8.50001L29 10L34 5.00001L32.5 3.50001L29 0L27.5 1.5L30 3.99999L0 3.99999V4.99999V5.99999L30 5.99999Z" fill="black"/></svg><svg class="svg symbol symbol--arrow-long high-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 9.99999L31.6893 6.3107H0V5.5607V4.8107H31.8107L28 1L29 0L34 5.06067L34 6.06069L34 6.0607L29 11L28 9.99999Z" fill="black"/></svg></span>


</span>
              </button>
            </div>
          
        </form>
      </div>
    

  </div>

  <button class="popup-close" aria-label="Close">
    

	<svg version="1.1" class="svg close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>



  </button>

</div>

<div class="popup-background"></div>

</div>

	<script type="text/javascript">

		window.shop_money_format = "Rp  {{ amount_no_decimals_with_comma_separator }}";
		window.cart_action = "overlay";
		window.cart_url = "/cart";

		window.product_words_add_to_cart_button = "Add to cart";
		window.product_words_sold_out_variant = "Sold out";
		window.product_words_unavailable_variant = "Unavailable";
		window.product_words_one_product = "There is only one product left!";
		window.product_words_few_products = "There are {{ count }} products left";
		window.product_words_no_products = "There are no products left";
		window.product_words_preorder = "This product is out of stock, but you can still order it.";
		window.products_page_more_description_label = "Show more";
		window.products_page_less_description_label = "Show less";
		window.cart_add_error = "All {{ title }} are in your cart.";
		window.cart_general_error = "There was an error. Please refresh the page and try again.";

		
		window.symbol_arrow = '	<span class="long-arrow"><svg class="svg symbol symbol--arrow-long low-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M30 5.99999L27.5 8.50001L29 10L34 5.00001L32.5 3.50001L29 0L27.5 1.5L30 3.99999L0 3.99999V4.99999V5.99999L30 5.99999Z" fill="black"/></svg><svg class="svg symbol symbol--arrow-long high-dpi" width="34" height="11" viewBox="0 0 34 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 9.99999L31.6893 6.3107H0V5.5607V4.8107H31.8107L28 1L29 0L34 5.06067L34 6.06069L34 6.0607L29 11L28 9.99999Z" fill="black"/></svg></span>';

	</script>

	<script type="text/javascript">
		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
		  $('body').removeClass('no-touch').addClass('touch');
		} 
	</script>

	<script type="text/javascript" src="//cdn.shopify.com/s/files/1/0341/7112/5891/t/2/assets/theme.min.js?v=140151384860813636481587706461"></script>

	<span class="cart-overlay-background"></span>
	<span class="menu-overlay-background"></span>

	<noscript><style type="text/css">.ll-fallback{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:center;background-repeat:no-repeat;z-index:99}#shopify-section-popup{display:none!important}.product-gallery--slider{height:auto}video,iframe,model-viewer{opacity:1!important;position:absolute !important;top:0;left:0;width:100%;height:100%;}</style></noscript>


<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    <!-- **BEGIN** Hextom CTB Integration // Main - DO NOT MODIFY -->
<script type="application/javascript">
    window.hextom_ctb = {
        p1: [
            
        ],
        p2: {
            
        }
    };
</script>
<!-- **END** Hextom CTB Integration // Main - DO NOT MODIFY -->
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>